/*
custom fonts
*/

@font-face {
    font-family: myFontBold;
    src: url('../font/roboto/Roboto-Bold.woff2');
    src: url('../font/roboto/Roboto-Bold.woff');
}

@font-face {
    font-family: myFontLight;
    src: url('../font/roboto/Roboto-Light.woff2');
    src: url('../font/roboto/Roboto-Light.woff');
}

.myBold {
    font-family: myFontbold, sans-serif;
    text-transform: uppercase;
}

.myLight {
    font-family: myFontLight, sans-serif;
}

.myUpper {
    text-transform: uppercase;

}

.myHighlight {
    background: #000;
    color: #fff !important;
    padding: 1%;
}

.myHighlight-2 {
    font-size: 1.2em;
    background: #ffd600;
    color: #e65100 !important;
    padding: 5%;
}

.myHighlight-3 {
    background: #ffd600;
    color: #e65100 !important;
    text-transform: none;
    padding: 2%;
}

.myHighlight-4 {
    background: lightyellow;
    color: black !important;
    text-transform: none;
    padding: 0.3em;
}

.myCard {
    margin-bottom: 0;
    margin-top: 0;
}

.myProgress {
    height: 10px;
    margin: 1rem 0rem 1rem 4rem;
}

.web-dev-progress-color {
    background: #fb8c00 !important;
}

.prog-lang-progress-color {
    background: #8bc34a !important;
}



body, html
{
    background-color: #EDEDED !important;
}

.intro
{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 50px;
}

.intro h1
{
    font-weight: 900;

}

.intro h5
{
    text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}

.about .col
{
    margin-bottom: 24px;
}

.about h5
{
    font-family: myFontLight, sans-serif;
    width: 30%;
    padding: 1%;
    margin: 0 auto;
    text-align: center;
    text-transform: none;
    margin-bottom: 15px;
}

.about h6
{
    font-family: myFontLight, sans-serif;
    font-size: 1.2em;
    text-align: center;
    text-transform: none;
    margin-top: 20px;
    margin-bottom: 45px;
}

.about hr
{
    width: 40px;
    margin-bottom: 45px;
}

.about .card
{
    text-align: center;
}

.education {
    text-align: left;
    display: inline-block;
}

.education h5 {
    width: 45%;
    padding: 2%;
    text-align: left;
}

.projects {
    text-align: left;
    display: inline-block;
}

.projects h5 {
    width: 18%;
    padding: 1%;
    text-align: center;;
}

.tools-name {
    display: inline-block;
}

.tools-progess {
    display: inline-block;
}

.interests {
    text-align: left !important;
    display: block;
}

.interests h5 {
    text-align: left;
    width: 14%;
    padding: 1%;
    text-align: center;
}

/*
Media queries
*/

@media screen and (min-width: 992px) {

    .education h5 {
        width: 55%;
        padding: 4%;
    }

    .projects h5{
        width: 23%;
      padding: 2%;
  }
}



@media screen and (min-width: 601px) and (max-width: 992px) {
    .about h5 {
        width: 28%;
        padding: 2%;
    }

    .education h5 {
        width: 23%;
    }

    .projects h5{
        width: 20%;
        padding: 2%;
  }

  .myProgress {
      height: 10px;
      margin: 1rem 0rem 1rem 2rem;
  }
}



@media screen and (min-width: 301px) and (max-width:600px) {
    .about h5 {
        width: 42%;
        padding: 2%;
    }

    .education h5 {
        width: 42%;
    }

    .projects h5{
        width: 35%;
        padding: 2%;
  }

  .myProgress {
      height: 10px;
      margin: 1rem 0rem 1rem 1rem;
  }
}



@media screen and (max-width: 300px) {

    .about h5 {
        width: 42%;
        padding: 2%;
    }

    .education h5 {
        width: 42%;
        padding: 4%;
    }

    .projects h5{
        width: 36%;
      padding: 2%;
  }

  .myProgress {
      height: 10px;
  }
}
