<!DOCTYPE html>
<html lang="en" ng-app="classified" ng-cloak>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
    <title>-Angular Classified-</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.min.css" media="all">
    <link rel="stylesheet" href="css/style.css">
    <script src="node_modules/angular/angular.min.js"></script>
</head>
    <body ng-controller="classifiedCtrl">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <p>
                    <stron>Angular Classified</stron>
                    <md-button ng-click="openSidebar()"> 
                        <md-icon class="mdi mdi-plus-circle"></md-icon>   
                        Add new classified                     
                    </md-button>
                    <md-button ng-click="showFilters = true"> 
                        <md-icon class="mdi mdi-magnify"></md-icon>   
                        Search for Classified                     
                    </md-button>
                    
                </p>
            </div>
        </md-toolbar>

        <div class="filters" layout="row" layout-align="center center" ng-show="showFilters">
            <md-input-container>
                <label for="filter">Enter Search Item</label>
                <input type="text" ng-model="classifiedsFilter">
            </md-input-container>
            <md-input-container class="mySelect">
                <label>Category</label>
                <md-select ng-model="category">
                    <md-option ng-repeat="category in categories" 
                    value="{{category}}">{{category}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-button ng-click="category = ''; classifiedsFilter = ''" class="md-warn clr-btn">
                    Clear
                </md-button>
            </md-input-container>
            <md-input-container>
                <md-button ng-click="showFilters = false" class="md-primary hide-filter-btn">
                    Hide
                </md-button>
            </md-input-container>
        </div>

        <md-sidenav class="md-sidenav-left md-whiteframe-z2" 
            md-component-id="left">
            <md-toolbar>
                <h1 class="md-toolbar-tools">Add your classified</h1>
            </md-toolbar>

            <md-content class="pad-fix" layout-padding>
                <md-input-container>
                    <label for="title">Title</label>
                    <input ng-model="classified.title" type="text" id="title" md-autofocus>
                </md-input-container>
                <md-input-container>
                    <label for="price">Price</label>
                    <input ng-model="classified.price" type="text" id="price">
                </md-input-container>
                <md-input-container>
                    <label for="description">Description</label>
                    <textarea ng-model="classified.description" type="text" id="description"></textarea>
                </md-input-container>
                <md-input-container>
                    <label for="image">Image Link</label>
                    <input ng-model="classified.image" type="text" id="image">
                </md-input-container>
                <md-button ng-if="!editting" ng-click="saveClassified(classified)" class="md-primary">Save</md-button>
                <md-button ng-if="editting" ng-click="saveEdits(classified)" class="md-primary">Save Edit</md-button>
                <md-button ng-click="closeSidebar()" class="md-warn">Cancel</md-button>
            </md-content>
        </md-sidenav>

        <md-content class="md-paddding" layout="row" layout-wrap>
            <md-card ng-repeat="classified in classifieds 
                    | filter: classifiedsFilter
                    | filter : category" flex="30">
                <img ng-src= "{{ classified.image }}"  alt="sample image">
                <md-card-content>
                    
                    <div class="classified-info">
                        <h2 class="md-title"> {{ classified.title }} </h2>
                        <h2> {{classified.posted | date : 'longDate'}} </h2>
                        <h3> {{classified.price | currency : '₹ '}} </h3>
                        <p ng-show="!showContact"> {{classified.description}} </p>
                    </div>
                    
                    <div class="classified-contact" ng-show="showContact">
                        <p><md-icon class="mdi mdi-account"></md-icon> {{classified.contact.name}} </p>
                        <p><md-icon class="mdi mdi-phone"></md-icon> {{classified.contact.phone}} </p>
                        <p><md-icon class="mdi mdi-email"></md-icon> {{classified.contact.email}} </p>
                    </div>

                    <div layout="row">
                        <md-button ng-show="!showContact" ng-click="showContact = true">Contact</md-button>
                        <md-button ng-show="showContact" ng-click="showContact = false">Details</md-button>
                        <md-button ng-show="!showAdmin" ng-click="showAdmin = true">Admin</md-button>
                        <md-button ng-show="showAdmin" ng-click="showAdmin = false">Close</md-button>
                    </div>

                    <div class="classified-admin" ng-if="showAdmin">
                        <div layout="row">
                            <md-button ng-click="editClassified(classified)" class="md-primary">Edit</md-button>
                            <md-button ng-click="deleteClassified($event, classified)" class="md-warn">Delete</md-button>
                        </div>
                    </div>

                </md-card-content>
            </md-card>
        </md-content>

        <script src="node_modules/angular-animate/angular-animate.js"></script> 
        <script src="node_modules/angular-aria/angular-aria.js"></script>
        <script src="node_modules/angular-material/angular-material.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
        <script src="js/app.js"></script>  
        <script src="components/classifieds.factory.js"></script>          
        <script src="components/classifieds.ctrl.js"></script>    
    </body>
</html>